# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
/.idea
/.binary
.pnp.js

# Misc
.DS_Store

# Bazel
.bazelrc.user
bazel-*
/dist*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
